/* jrg-drop */

.draggable {
  cursor: pointer;
}
.draggable.being-dragged{
  position: absolute;
  z-index: 10;
  background-color: black;
  color: white;
}
.draggable.return-animation {
  -webkit-transition: ease-out .35s all;
}

.droppable.hover {
  background-color: red;
}