<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">

    <title>dragon-drop</title>

	<link rel="stylesheet" href="demo/main.css"/>
	<link rel="stylesheet" href="git/drop.min.css"/>

</head>
<body ng-controller = "MainCtrl" ng-init="include = 'demo/sortable.html'">

	<div ng-click="include = 'demo/main.html'"> |_DRAG_| </div> <div ng-click="include = 'demo/sortable.html'"> |_SORT_| </div>
	<div ng-include="include"></div>

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>

	<script type="text/javascript" src="src/main.js"></script>
	<script type="text/javascript" src="src/css.js"></script>
	<script type="text/javascript" src="src/collisions.js"></script>
	<script type="text/javascript" src="src/animation.js"></script>
	<script type="text/javascript" src="src/events.js"></script>
	<script type="text/javascript" src="src/sortable.js"></script>
	<script type="text/javascript" src="src/draggable.js"></script>
<!--
	<script type="text/javascript" src="dist/drop.min.js"></script>
-->

	<script type="text/javascript" src="demo/app.js"></script>

	<script type="text/javascript" src="demo/MainCtrl.js"></script>
	<script type="text/javascript" src="demo/SortCtrl.js"></script>
</body>
</html>
